.forgot-password-modal {
  .ant-modal-content {
    .ant-modal-title {
      font-size: 24px;
    }
    .ant-divider {
      margin: 12px 0;
    }

    .modal-description {
      .ant-typography {
        font-size: 16px;
        margin: 10px 0;
      }
    }

    .email-form-item {
      margin-top: -20px;

      label {
        .ant-typography {
          margin: 2px 0;
        }
      }

      .input-icon-height {
        height: 40px;
        margin-right: 8px;
      }
    }

    .ant-btn {
      float: right;
    }
  }
}
